:root {
  --body-font: Arial, Helvetica, sans-serif;
  --logo-font: Arial, Helvetica, sans-serif;
  --h-font:  Arial, Helvetica, sans-serif;

  --content-width: 90%;
  --content-width-mobile: 88%;

  --text-font-size: 1em;
  --logo-font-size: 1.4em;
  --form-font-size: 1em;
  --h1-font-size: 1.3em;
  --h2-font-size: 1.2em;
  --h3-font-size: 1.1em;
  --footer-font-size: 1.0em;

  --form-border-color: #ddd;
  --form-submit-color-border: #ccc;
  --form-submit-color-hover: #fff;

  --color-body-bg: #f7f9f9 ;
  --color-body-txt: #000;
  --color-body-a: #000;
  --color-sub-menu-li: #333;
  --color-sub-menu-border: #ccc;
  --color-sub-menu-a-hover: #888;
  --color-sub-sub-menu: #ccc;
  --color-footer-txt: #666;
  --color-footer-a: #666;
  --color-footer-a-hover: #333;
  --color-copy: #666;
  --color-info: #666;
  --color-hr: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--text-font-size);
  background-color: var(--color-body-bg);
  font-family: var(--body-font);
  color: var(--color-body-txt);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer";
  letter-spacing: 0.7px;
}


h1 {
  font-size: var(--h1-font-size);
  margin: 14px 0;
  font-family: var(--h-font);
  font-weight: normal;
} 
h2 {
  font-size: var(--h2-font-size);
  margin: 12px 0;
  font-family: var(--h-font);
  font-weight: normal;
}
h3 {
  font-size: var(--h3-font-size);
  margin: 18px 0 5px 0;
  font-family: var(--h-font);
  font-weight: normal;
}

a {
  color: var(--color-body-a);
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
hr {
  margin: 20px 0;
  border: 1px solid var(--color-hr);
}

main {
  z-index: 1;
  grid-area: main;
  display: grid;
  grid-template-areas: "content";
}
main p {
  line-height: 1.4;
  margin: 15px 0;
}
ul {
  padding: 0 0 0 15px;
}
li {
  padding: 3px 0;
}

header {
  z-index: 100;
  grid-area: header;
  display: grid;
  grid-template-areas: "header-content";
}

#header-content {
  grid-area: header-content;
  text-align: left;
  margin: 60px auto 10px auto;
  width: var(--content-width);
  color: var(--color-footer-txt);
}

#content {
  grid-area: content;
  text-align: left;
  width: var(--content-width);
  margin: 0 auto;
}

.logo {
  font-family: var(--logo-font);
  font-size: var(--logo-font-size);
  padding-bottom: 16px;
  font-weight: 400;
}
.logo a {
  text-decoration: none;
}

.sub-menu {
  margin: 30px 0 0 0;
}
.sub-menu ul {
  padding: 0;
}
.sub-menu li {
  display: inline-block;
  color: var(--color-sub-menu-li);
  margin: 0 10px 25px 0;
}
.sub-menu a {
  text-decoration: none;
  border: 1px solid var(--color-sub-menu-border);
  padding: 5px 8px;
}
.sub-menu a:hover {
  border: 1px solid var(--color-sub-menu-a-hover);
}

.sub-sub-menu {
  color: var(--color-sub-sub-menu);
}

.success {
  color: green;
}
.error {
  color: red;
}
.info {
  color: var(--color-info);
  font-size: 0.9em;
  padding-bottom: 10px;
}
.top-spacer {
  margin-top: 30px;
}

.row {
  display: flex;
  padding: 35px 0;
}
.col {
  flex: 70%;
  padding-right: 40px;
}

.padding-left {
  padding-left: 20px;
}

.topLink {
  text-align: center;
  padding: 20px 0 0 0;
}
.topLink svg {
  fill: var(--color-body-txt);
  opacity: 1;
  width: 30px;
}

#gallery {
  padding-bottom: 15px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px 0;
  overflow: hidden;
}

#menu li {
  float: left;
  display: block;
  padding-right: 20px;
  /* font-size: var(--menu-font-size);
  font-family: var(--menu-font); */
}

#menu li a {
  text-decoration: none;
}


#contact-form {
  padding: 20px 0;
}
textarea {
  resize: none;
}

.form-control {
  font-family: var(--body-font);
  padding: 10px;
  font-size: var(--form-font-size);
  margin: 0 0 20px 0;
  border: 1px solid var(--form-border-color);
  width: 95%;
  max-width: 400px;
}

.form-control-bee {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.form-submit {
  font-family: var(--body-font);
  padding: 10px 15px;
  font-size: inherit;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid var(--form-submit-color-border);
  color: var(--color-body-a)
}
.form-submit:hover {
  cursor: pointer;
}
.form-submit-disabled:hover {
  cursor: default;
}

.redCircle {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 2px;
  background: #ff0000;
  color: #fff;
  text-align: center;
  font-size: 16px;
  display: inline-block;
}


footer {
  z-index: 0;
  grid-area: footer;
  display: grid;
  grid-template-areas: "footer-content";
}

#footer-content {
  grid-area: footer-content;
  text-align: left;
  margin: 10px auto 50px auto;
  width: var(--content-width);
  font-size: var(--footer-font-size);
  color: var(--color-footer-txt);
}

footer a {
  color: var(--color-footer-a);
  text-decoration: none;
}
footer a:hover {
  color: var(--color-footer-a-hover);
}


.social-icons {
  padding: 20px 0;
}
.social-icons ul {
  padding: 0;
}
.social-icons li {
  display: inline;
  padding-right: 15px;
}
.social-icons svg {
  fill: var(--color-body-txt);
  opacity: 1;
  width: 24px;
}

.copy {
  padding-top: 15px;
  color: var(--color-copy);
}

@media (max-width: 800px) {
  body {-webkit-text-size-adjust: none;}
  #content,
  #header-content,
  #footer-content {
    width: var(--content-width-mobile);
  }
  .row {
    flex-direction: column;
  }
  .padding-left {
    padding-left: 0;
  }
  .col {
    flex: 50%;
    padding-right: 10px;
  }
}
