/**********************************
CSS Stylesheet for philboivin.com
/**********************************/
@import url('https://fonts.googleapis.com/css2?family=Alike&family=Roboto&display=swap');
 
:root {

--logo-font : 'Alike';
--body-font : 'Roboto';
--h-font : 'Roboto';

--logo-font-size : 1.4em;
--form-font-size : 1.0em;
--menu-font-size : 1.0em;
--h1-font-size : 1.4em;
--h2-font-size : 1.2em;
--footer-font-size: 1.0em;

--form-border-color: #ddd;
--form-submit-color-border: #ccc;
--form-submit-color-hover: #fff;

--content-width : 75%;
--content-width-mobile : 88%;

--color-body-bg: #fff;
--color-body-txt: #000;

--color-body-a: #006699;
--color-body-a-hover: #003366;

--color-logo: #fff;
--color-logo-hover: #ccc;
--color-footer-bg: #000;
--color-footer-txt: #fff;
--color-footer-a: #fff;
--color-footer-a-hover: #ccc;
--color-social-icons : #fff;
--color-social-icons-hover : #ccc;
--color-copy : #666;


}

* {margin:0; padding:0; box-sizing: border-box;}

body {
  background-color: var(--color-body-bg); 
  font-family: var(--body-font);
  color: var(--color-body-txt);
  text-align: center;
  margin: 0 auto; 
  display: grid;  
  grid-template-columns: 100%;
  grid-template-rows: auto 400px;
  grid-template-areas:
    "main"
    "footer";
}

h1 {font-size: var(--h1-font-size); margin: 12px 0; font-family: var(--h-font); font-weight: normal;}
h2 {font-size: var(--h2-font-size); margin: 12px 0; font-family: var(--h-font); font-weight: normal;}
a {color: var(--color-body-a); text-decoration: none;}
a:hover {color: var(--color-body-a-hover);}



/*****************************************/
/* Main content               
/*****************************************/
main {
  grid-area: main; 
  min-height: 85vh;
  display: grid;
  grid-template-areas:
    "content";
}

#content {
  grid-area: content; 
  text-align: left; 
  width: var(--content-width); 
  margin: 50px auto; 
}


main p {line-height: 1.4; margin: 10px 0 15px 0;}


.sub-menu {margin-left: 15px;}
.sub-menu li {padding: 0 0 5px 0; color: var(--color-sub-menu-li);}

.serif {font-family: var(--logo-font);}



#projects {grid-area: projects; text-align: left; } 
.success {color: green}
.error {color: red;}
.top-spacer {margin-top: 30px;}

.row {display: flex; padding: 20px;}
.col {flex: 50%;}




/*****************************************/
/* Contact Form             
/*****************************************/
#contact-form {padding: 20px 0;}
textarea {resize: none;}

.form-control {
  font-family: var(--body-font); 
  padding: 5px; 
  font-size: var(--form-font-size);
  margin:0 0 20px 0; 
  border: 1px solid var(--form-border-color); 
  width: 95%;
  max-width: 400px;
}

.form-control-bee {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.form-submit {padding: 10px 15px; font-size: inherit; margin-top: 10px; border-radius: 10px; border: 1px solid var(--form-submit-color-border);}
.form-submit:hover {cursor:pointer;}
.form-submit-disabled:hover {cursor: default;}

.redCircle {
border-radius: 50%;
width: 24px;
height: 24px;
padding: 2px;
background: red;
color: white;
text-align: center;
font-size:  16px;
display: inline-block;
}





/*****************************************/
/* Footer and main menu             
/*****************************************/
footer {
  grid-area: footer; 
  display: grid;
  background-color: var(--color-footer-bg); 
  grid-template-areas:
    "menu";
}

#menu {
  grid-area: menu; 
  text-align: left; 
  margin: 60px auto; 
  width: var(--content-width); 
  font-size: var(--footer-font-size); 
  color: var(--color-footer-txt); 
}

.logo {
  grid-area: logo; 
  font-family: var(--logo-font);
  font-size: var(--logo-font-size); 
  align-self: center; text-align: left;
  letter-spacing: 1px;
  color: var(--color-logo);
}

.logo a {color: var(--color-logo);}
.logo a:hover {color: var(--color-logo-hover);}

footer a {color: var(--color-footer-a);}
footer a:hover {color: var(--color-footer-a-hover);}

nav {font-size: var(--menu-font-size); padding: 20px 0;}
nav li {display: inline; padding: 0 20px 0 0;}

.social-icons {padding: 20px 0;}
.social-icons li {display: inline; padding: 0 12px 0 0;}
.social-icons svg {fill: var(--color-social-icons); opacity: 1.0; width: 24px;}
.social-icons svg:hover {fill: var(--color-social-icons-hover);}
.copy {color: var(--color-copy);}



/*****************************************/
/* Mobile                
/*****************************************/
@media (max-width: 800px) {

 #content {width: var(--content-width-mobile);}
 #menu {width: var(--content-width-mobile);}

}
