/**********************************
CSS Stylesheet for philboivin.com
/**********************************/
@import url('https://fonts.googleapis.com/css2?family=Alike&family=Roboto&display=swap');
 
   :root {

    --logo-font : 'Alike';
    --body-font : 'Roboto';
    --h-font : 'Alike';

    --body-font-size : 14px;
    --logo-font-size : 1.7em;
    --form-font-size : 1.1em;
    --menu-font-size : 1.1em;
    --p-font-size : 1.2em;
    --h1-font-size : 1.6em;
    --h2-font-size : 1.4em;
    --footer-font-size: 1.0em;

    --form-border-color: #ddd;
    --form-submit-color-border: #ccc;
    --form-submit-color-hover: #fff;

    --menu-height: 52px;
    --content-width : 75%;
    --content-width-mobile : 90%;

    --color-body-bg: #fff;
    --color-body-txt: #000;
    --color-body-a: #3366cc;
    --color-highlight-bg: #ffffcc;
    --color-highlight-txt: #000;
    
    --color-logo-dark: #000;
    --color-logo-light: #fff;

    --color-menu-bg: #fff;
    --color-menu-a: #000;
    --color-menu-line: #eee;
    --color-menu-sticky-bg: #000;
    --color-menu-sticky-a: #fff;

    --color-footer-bg: #000;
    --color-footer-txt: #fff;
    --color-footer-a: #fff;
    --color-footer-a-hover: #eee;
    --color-social-icons : #fff;
    --color-social-icons-hover : #ccc;
    
    }

    * {margin:0; padding:0; box-sizing: border-box;}
    body {font-family: var(--body-font); font-size: var(--body-font-size); background-color: var(--color-body-bg); color: var(--color-body-txt); text-align: center;}
    
    .container {
    margin: 0 auto; padding-top: var(--menu-height); display: grid;  
    grid-template-columns: 100%;
    grid-template-rows: 10px 12vh auto 180px;
   /* align-items: center;*/
    grid-template-areas:
      "topBar"
      "header"
      "main"
      "footer";
    }


    /*****************************************/
    /* Header and logo
    /*****************************************/
    #topBar {z-index:100; grid-area: topBar; position: fixed; top: 0; left: 0; width: 100%; height: var(--menu-height);}

    header {
      grid-area: header; 
      width: var(--content-width); 
      align-self: center; text-align: left; 
      position: -webkit-sticky; position: sticky; 
      top: 7px;
      margin: 0 auto; 
      padding: 0 0 10px 0; 
      border-bottom: 2px solid var(--color-menu-line);
      display: grid;
      grid-template-columns: 220px auto;
      grid-template-areas:
      "logo nav";
      z-index: 200;
    }

    #logo {
      grid-area: logo; 
      font-family: var(--logo-font);
      font-size: var(--logo-font-size); 
      align-self: center; text-align: left;
      letter-spacing: 1px;
    }
    #logo a, #logo a:visited, #logo a:hover, #logo a:active {text-decoration: none; color: inherit;}
    .logo-dark {color: var(--color-logo-dark)}
    .logo-light {color: var(--color-logo-light);}

    .logo-wave {
      background: linear-gradient(to right, #000 20%, #999 40%, #999 60%, #000 80%);
      background-size: 290% auto;
      color: var(--color-logo-dark)
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: wave 1s linear 1;
    }
    @keyframes wave {
      to {
        background-position: 140% center;
      }
    }
    
    nav {grid-area: nav; font-size: var(--menu-font-size);}
    nav a {color: var(--color-menu-a); text-decoration: none;}
   /* nav a:hover {text-decoration: underline;}*/
    nav ul {padding: 10px;}
    nav li {display: inline; padding: 0 10px;}
    .nav-light a {color: var(--color-menu-a);}


    /*****************************************/
    /* Sticky Menu 
    /*****************************************/
    .sticky {border-bottom: 0px;}
    .sticky a {color: var(--color-menu-sticky-a);}

    .bgColor-in {
      animation-name: menu-in;
      animation-duration: 0.2s;
      animation-timing-function: ease-in;
      background: var(--color-menu-sticky-bg);
    }

    @keyframes menu-in {
      0%    {background: rgba(0,0,0,0);}
      25%   {background: rgba(0,0,0,0.25);}
      50%   {background: rgba(0,0,0,0.5);}
      75%   {background: rgba(0,0,0,0.75);}
      100%  {background: rgba(0,0,0,1);}
    } 

    .bgColor-out {
      animation-name: menu-out;
      animation-duration: 0.3s;
      animation-timing-function: ease-out;
      background: var(--color-menu-bg);
    }

      @keyframes menu-out {
      0%    {background: rgba(0,0,0,1);}
      25%   {background: rgba(0,0,0,0.75);}
      50%   {background: rgba(0,0,0,0.5);}
      75%   {background: rgba(0,0,0,0.25);}
      100%  {background: rgba(0,0,0,0);}
    } 



    /*****************************************/
    /* Main content               
    /*****************************************/
    main {
      grid-area: main; 
      width: var(--content-width); 
      min-height: 80vh;
      margin: 10px auto; 
      display: grid;  
 /*     grid-template-columns: auto;
      grid-template-rows: auto auto;*/

      grid-template-areas:
        "content";
    }

    main p {line-height: 1.4; margin: 10px 0 15px 0;}

    h1 {font-size: var(--h1-font-size); margin: 10px 0; font-family: var(--h-font); font-weight: normal;}
    h2 {font-size: var(--h2-font-size); margin: 10px 0; font-family: var(--h-font); font-weight: normal;}
    a {color: var(--color-body-a);}
    section p {font-size: var(--p-font-size);}

    .serif {font-family: var(--logo-font);}
    #content {grid-area: content; text-align: left; }
    #projects {grid-area: projects; text-align: left; } 
    .success {color: green}
    .error {color: red;}
    .content-block {margin-bottom: 40px;}
    .top-spacer {margin-top: 30px;}


    /*****************************************/
    /* Contact Form             
    /*****************************************/
    #contact-form {padding: 20px 0;}
    textarea {resize: none;}

    .form-control {
      font-family: var(--body-font); 
      padding: 5px; 
      font-size: var(--form-font-size);
      margin:0 0 20px 0; 
      border: 1px solid var(--form-border-color); 
      width: 95%;
      max-width: 400px;
    }

    .form-control-bee {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 0;
      z-index: -1;
    }

    .form-submit {padding: 10px 15px; font-size: inherit; margin-top: 10px; border-radius: 10px; border: 1px solid var(--form-submit-color-border);}
    .form-submit:hover {cursor:pointer;}
    .form-submit-disabled:hover {cursor: default;}

    .redCircle {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 2px;
    background: red;
    color: white;
    text-align: center;
    font-size:  16px;
    display: inline-block;
    }



    /*****************************************/
    /* Footer                
    /*****************************************/
    footer {grid-area: footer; font-size: var(--footer-font-size); color: var(--color-footer-txt); background-color: var(--color-footer-bg); margin-top:40px; padding:40px 0; line-height: 1.4;}
    footer a {color: var(--color-footer-a);}
    footer a:hover {color: var(--color-footer-a-hover);}
    .social-icons svg {fill: var(--color-social-icons); opacity: 1.0; padding: 5px; width: 28px; height: 28px;}
    .social-icons svg:hover {fill: var(--color-social-icons-hover);}





    /* Lab */
    .highlight {background-color: var(--color-highlight-bg); color: var(--color-highlight-txt); padding: 0.12rem 0.4rem; }
    .highlight:hover {animation-name: glitch; animation-duration: 0.5s; animation-timing-function: ease-in-out;}

     @keyframes glitch {
      0%    {padding: 0.12rem 0.4rem; }
      50%   {padding: 0.22rem 0.4rem; }
      100%   {padding: 0.12rem 0.4rem; }
    } 

 
   


    /*****************************************/
    /* Mobile                
    /*****************************************/
    @media (max-width: 800px) {

      header {
        display: grid;
        grid-template-columns: var(--content-width-mobile) auto;
        grid-template-rows: 40px 30px;
        grid-template-areas:
          "logo"
          "nav";
        width: 100%;
        position: relative;
        background-color: var(--color-menu-bg);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 35%, rgba(51,51,51,1) 100%);
        top: 0;
        padding: 25px 0 15px 0;
        margin-bottom: 10px;
      }

  
      #logo {margin: 0 auto; width: var(--content-width-mobile); padding: 0 0 10px 5px; color: var(--color-logo-light);}
      nav {margin: 0 auto; width: var(--content-width-mobile); padding: 0 0 0 5px;}
      nav ul {padding: 0;}
      nav li {padding: 0 10px 0 0;}

      .logo-wave {animation: none; text-fill-color: var(--color-logo-light); -webkit-text-fill-color: var(--color-logo-light);}

      #topBar {display: none;}
      #topRef {height: 0px;}

    
      .container {
        margin: 0 auto; padding-top: 0; display: grid;  
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        align-items: center;
        grid-template-areas:
          "header"
          "main"
          "footer";
      }
   
      main {width: var(--content-width-mobile);}

    }
